.env.local
POSTGRES_URL=

NEXTAUTH_URL=http://localhost:3000
AUTH_SECRET= # https://generate-secret.vercel.app/32
AUTH_SECRET=3f1e8b2c9d4a7e6f1b8c2d4a7e6f9c1b
# https://authjs.dev/getting-started/providers/github
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
